*{
    margin: 0;
    padding: 0;
}

.App{

    background: linear-gradient(180deg, #000 0%, #23202B 100%);
    font-family: "Poppins" , sans-serif;
    min-height: 100vh;
}

.white{
    color: #FFF;
}

.black{
    color: #000;
}

.fw400{
    font-weight: 400;
}

.fs16{
    font-size: 16px;
}

/* Navbar */

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    margin-bottom: 20px;
}

nav> h1{
    font-size: 28px;
    font-weight: 600;
}

.nav-btns{
    display: flex;
    align-items: center;

}

.nav-btns > a{
    text-decoration: none;    
    margin: 0 15px;
}

.nav-createBtn{
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    padding: 10px 15px ;
    cursor: pointer;
}

/* Hero */

.hero-main-heading{
    background: linear-gradient(90deg, #FFF 0%, #51466E 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

/* Card */
.cards{
    display: flex;
    padding: 0 30px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFF;
    padding: 10px;
    width: fit-content;
    max-width: 22%;
    border-radius: 10px;
    text-align: start;
    line-height: 110%;
    margin: 0 20px 20px 0;
}

.card-image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 7px;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 5px;
}

.card-title {
    font-size: 20px;
    font-weight: 500; 
    margin-bottom: 7px;
}

.card-location{
    display: flex;
    align-items: center;
    margin-top: 7px;
    column-gap: 5px;
}

.card-date{
    color: #51466E;
    margin-top: 7px;
}

/* CreateEvent Modal */

.create-event-bg{
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(180deg, #999 0%, #FFF 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.create-event-main{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    position: relative;
}

.faTimes{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.73);
    cursor: pointer;
}

.create-event-main>form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-event-heading{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 25px 0;
}

.create-event-form-inputs{
    display: flex;
    flex-direction: column;
}

.create-event-form-labelInput{
    display: flex;
    font-weight: 400;
    line-height: 110%;
    font-size: 16px;
    margin: 10px 0;
    justify-content: space-between;
    align-items: flex-start;
}

.create-event-form-labelInput > input{
    border-radius: 5px;
    border: 1px solid #8A8A8A;
    width: 70%;
    padding: 12px 20px;
    box-sizing: border-box;
}

.create-event-form-labelInput>input:focus{
    border: 1px solid #414141;
}

.create-event-form-labelInput>textarea {
    border-radius: 5px;
    border: 1px solid #8A8A8A;
    width: 70%;
    padding: 12px 20px;
    box-sizing: border-box;
}

.create-event-form-labelInput>textarea:focus {
    border: 1px solid #414141;
}

.create-event-form-labelInput> select{
    width: 70%;
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    border: 1px solid #414141;
}

.create-event-saveBtn{
    border-radius: 10px;
    background: #1E1E1E;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
}