*{
    margin: 0;
    padding: 0;
}

.App{
    height: 100vh;
background: linear-gradient(180deg, #000 0%, #23202B 100%);
font-family: "Poppins" , sans-serif;
}

.white{
    color: #FFF;
}

.black{
    color: #000;
}

.fw400{
    font-weight: 400;
}

.fs16{
    font-size: 16px;
}

/* Navbar */

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    margin-bottom: 20px;
}

nav> h1{
    font-size: 28px;
    font-weight: 600;
}

.nav-btns{
    display: flex;
    align-items: center;

}

.nav-btns > a{
    text-decoration: none;    
    margin: 0 15px;
}

.nav-createBtn{
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    padding: 10px 15px ;
    cursor: pointer;
}

/* Hero */

.hero-main-heading{
    background: linear-gradient(90deg, #FFF 0%, #51466E 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

/* Card */
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    padding: 10px;
    max-width: 22%;
    border-radius: 10px;
    text-align: start;
    line-height: 110%;
}

.card-image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 7px;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-title {
    font-size: 20px;
    font-weight: 500; 
    margin-bottom: 7px;
}

.card-location{
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.card-date{
    color: #51466E;
    margin-top: 7px;
}